<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <style>
      .error {
        color: red;
      }
    </style>
  </head>
  <body>
    <form action="/user/register" method="post">
      <p class="error">{{ content }}</p>
      <input type="text" name="name" placeholder="请输入用户名（zou）" />
      <input type="password" name="password" placeholder="请输入密码（123）" />
      <button>登录</button>
    </form>
  </body>
</html>
